 /* TODO: Create CSS variables */



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
    color: black;
    display: inline-block;
    width: 100vw;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

/* nav bar */
.navbar ul{
    list-style: none;
    margin-left: 25px;
    text-align: right;
    justify-content: flex-end;
}

.navbar li{
    display: inline-block;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


/* TODO: fix size of hover box for all screen sizes */
.navbar a:hover{
    background: darkgrey;
}

p {
    font-size: 16px;
}

.cover-photo {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./images/vintage_harley.jpg");
    background-size: cover;
    background-position: center;
}

/* main content */
h4{
    color: white;    
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

.card {
    display:flex;
    margin-left: 20px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    color: black;
}

.img1{
    display: block;
    margin: 10px auto;
    max-width: 3000px;
    height: 15vw;
    object-fit: cover;
    float: left;
    margin-right: 25px;
}

.img2{
    display: block;
    margin: 10px auto;
    max-width: 3000px;
    height: 15vw;
    float: right;
    margin-left: 25px;
}

/* TODO: fix border to look more like the cards */
aside {
    flex: 1;
    background-color: grey;
    padding: 20px;
  }

  section {
    flex: 3;
    background-color: black;
    padding: 20px;
  }

footer {
    background-color: grey;
    color: black;
    display: inline-block;
    width: 100vw;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* TODO: create multiple media queries */
@media screen and (max-width: 760px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    .navbar ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
        background-color: rgb(88, 80, 80);
        
    }
  }

