
:root {
    --dark: black;
    --light: grey;
    --hover: darkgrey;
    --size_change: rgb(88, 80, 80);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light);
    color: var(--dark);
    display: inline-block;
    width: 100vw;
    font-size: 20px;
}

/* nav bar */
.navbar ul{
    list-style: none;
    margin-left: 25px;
    text-align: right;
    justify-content: flex-end;
}

.navbar li{
    display: inline-block;
}

/* formatting for navbar links */
.navbar a {
    color: var(--dark);
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* changes behavior of navbar links when pointer hovers over them */
.navbar a:hover{
    background: var(--hover);
}

/* avatar image */
.cover-photo {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./profile.jpg");
    background-size: cover;
    background-position: center;
}

/* main content */
h2, h3{
    text-align: center;
    margin-bottom:10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

/* formats smaller sidebar for collaboration projects */
aside {
    flex: 1;
    background-color: var(--light);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
}

/* formats each card object */
.card {
    display:flex;
    margin-left: 20px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

/* formats left justified app images */
.img1{
    display: block;
    margin: 20px auto;
    max-width: 3000px;
    height: 10vw;
    object-fit: cover;
    float: left;
    margin-right: 25px;
}

/* formats right justified app images */
.img2{
    display: block;
    margin: 20px auto;
    max-width: 3000px;
    object-fit: cover;
    height: 15vw;
    float: right;
    margin-left: 25px;
}

/* formats aside images */
.img3{
    display: block;
    margin: 20px auto;
    max-width: 3000px;
    object-fit: cover;
    height: 15vw;
    margin-left: 5px;
}

section {
    flex: 3;
    background-color: var(--dark);
    padding: 20px;
}

/* formats contact info section, in the footer */
footer {
    background-color: var(--light);
    color: var(--dark);
    display: inline-block;
    width: 100vw;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* uses media query to stack aside when using smaller devices or windows  */
@media screen and (max-width: 768px) {
    header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: var(--light);
        color: var(--dark);
        display: inline-block;
        width: 100vw;
        font-size: 20px;
        text-align: center;
    }
    
    main,
    .navbar ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
   
    aside {
        order: 2;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .img3{
        display: block;
        margin: 20px auto;
        max-width: 3000px;
        object-fit: cover;
        height: 25vw;
        width: 50vw;
    }
   
    footer, aside {
        background-color: var(--size_change);
        
    }
  }

  /* uses media query to stack navbar before it flexes */
@media screen and (max-width: 992px) {
    header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: var(--light);
        color: var(--dark);
        display: inline-block;
        width: 100vw;
        font-size: 20px;
        text-align: center;
    }
    
    .navbar ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

